/*-----------checkboxes-----------*/

.checkbox {
    position: relative;
    width: 1.7em;
    height: 1.7em;
    border: 1px solid var(--main-background-color-dark);
    background-color: var(--main-background-color-light);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
}

.checkbox:hover input ~ .checkbox__checkmark {
    border: 1px solid var(--main-background-color-dark);
    border-radius: 8px;
    box-shadow: var(--main-shadow-color-dark) 0 3px 8px;
}

.checkbox__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkbox__checkmark:after {
    display: block;
}

.checkbox .checkbox__checkmark:after {
    left: 10px;
    top: 2px;
    width: 10px;
    height: 20px;
    border: solid var(--main-background-color-dark);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

/*---------checkbox-colors---------*/

.color1 {
    background-color: #000000;
}

.color2 {
    background-color: #B5BFCC;
}

.color3 {
    background-color: #E0CC91;
}

.color4 {
    background-color: #F49B7A;
}

.color5 {
    background-color: #2F4F4F;
}

.color6 {
    background-color: #DDA5AA;
}

.color7 {
    background-color: #E09714;
}

.color8 {
    background-color: #B35A1F;
}

.color9 {
    background-color: #367614;
}

.color10 {
    background-color: #4019B1;
}

.color11 {
    background-color: #DE4153;
}

.color12 {
    background-color: #62AD77;
}

.color13 {
    background-color: #8268DC;
}

.color14 {
    background-color: #850085;
}

.color15 {
    background-color: #981313;
}

.color16 {
    background-color: #FFEB00;
}

.color17 {
    background-color: #4279DB;
}

.color18 {
    background-color: var(--main-background-color-light);
}

.color18::after {
    content: "all";
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--main-font-color-dark);
}
