.my-color-palette__container {
    position: fixed;
    top: 15vh;
    right: 0;
    width: 88vw;
    min-height: 80vh;
    padding: 1em 1.5em;
    background-color: var(--main-background-color-transparent);
    color: var(--main-font-color-dark);
    border-radius: 10px 0 0 10px;
    z-index: 2;
    overflow: visible;
}

.my-color-palette__container-opened {
    opacity: 100%;
}

.my-color-palette__container-closed {
    opacity: 0;
}


/*----------Closing button----------*/

.my-color-palette__closing-button::after{
    content: "\00d7";
    font-size: 3em;
    font-weight: 300;
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15vh;
    right: 1vw;
    cursor: pointer;
}

/*----------Typography------------*/

.my-color-palette__title {
    margin: 1em 0 2em 0;
}

.my-color-palette__under-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
}

.my-color-palette-text-block__hex-code{
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
}

.my-color-palette-text-block__hex-code-link{
    font-size: 0.9em;
    font-weight: 500;
    color: var(--main-font-color-dark);
}

.my-color-palette-text-block__hex-code-link:visited{
    color: var(--main-font-color-dark);
}


/*------------Color-items-------------*/

.my-color-palette-color-items__outer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.my-color-palette-color-item__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-bottom: 1em;
}


.my-color-palette-color-item__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0.3em;
}

.my-color-palette-color-item__color-block {
    width: 4.7em;
    height: 4.7em;
    background-color: #3C4C76;
    border-radius: 10px;
    border: 1px solid var(--main-background-color-dark);
}