.header-background-image__homepage {
    background-image: url("../../assets/img/homepage-header-milkmaid-2500px.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    resize: horizontal;
}

main {
    color: var(--main-font-color-light);
    background-color: var(--main-background-color-dark);
}

/*-----------form-----------*/

.search-query__section {
    margin: 1em 0 2.5em 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.5em 0;
    border: none;
}

.search-query__input-field {
    width: 100%;
    background-image: url("../../assets/icons/search.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25px;
}

select {
    width: 70%;
}
