.header-background-image__homepage {
    background-image: url("../../assets/img/homepage-header-milkmaid-2500px.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    resize: horizontal;
}

main {
    color: var(--main-font-color-light);
    background-color: var(--main-background-color-dark);
}

/*-----------form-----------*/

.search-query__section {
    margin: 1em 0 2.5em 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.5em 0;
    border: none;
}

label {
    display: flex;
    flex-direction: column;
}

.search-query__input-field {
    width: 100%;
    background-image: url("../../assets/icons/search.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25px;
}

select {
    width: 70%;
}

/*-----------checkboxes-----------*/
.checkboxes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6em;
    width: 70vw;
    margin-top: 0.5em;
}

.checkbox {
    position: relative;
    width: 2.3em;
    height: 2.3em;
    border: 1px solid var(--main-background-color-dark);
    background-color: var(--main-background-color-light);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
}

.checkbox:hover input ~ .checkbox__checkmark {
    border: 3px solid var(--main-focus-color);
    border-radius: 10px;
}

.checkbox__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkbox__checkmark:after {
    display: block;
}

.checkbox .checkbox__checkmark:after {
    left: 18px;
    top: 9px;
    width: 10px;
    height: 20px;
    border: solid var(--main-background-color-dark);
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
}